<div class="container">
    <h2>Fill the fields</h2>
  <form class="form" action="" [formGroup]="applicantForm" (ngSubmit)="submit()">
   
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label> Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Choise your education</mat-label>
        <mat-select formControlName="education" >
          <mat-option *ngFor="let level of educationsList" [value]="level.value">
            {{level.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Choise your technology</mat-label>
        <mat-select formControlName="technology">
          <mat-option *ngFor="let level of techsList" [value]="level.value">
            {{level.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    <button mat-raised-button type="submit" >Send</button>
  </form>

  <app-table></app-table>

</div>
