<div class="container">
  <div class="main-row">
    <div class="logo"><h2 class="app-name">Blog app</h2></div>
    <div class="navigation">
      <mat-nav-list role="list" class="list-horizontal">
        <mat-list-item>
          <a [routerLink]="['']">Home</a>
        </mat-list-item>
        <mat-list-item>
          <a [routerLink]="['/admin']">Admin</a>
        </mat-list-item>
      </mat-nav-list>
     
    </div>
    <a [routerLink]="['/registration']">Registration</a>
  </div>

  <app-breadcrumbs></app-breadcrumbs>

  <div class="spinner-container" *ngIf="preloader$ | async">
    <mat-spinner></mat-spinner>
  </div>
</div>
